<div>
  <div>
    <h1>
      List of all entries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new entry
    </h2>

    <form action="/insert_entry" method="post">
      <div>
        <label for="mood_box">
          Mood
        </label>

        <input type="text" id="mood_box" name="query_mood">
      </div>

      <div>
        <label for="weather_box">
          Weather
        </label>

        <input type="text" id="weather_box" name="query_weather">
      </div>

      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <button>
        Create entry
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Mood
        </th>

        <th>
          Weather
        </th>

        <th>
          Body
        </th>

        <th>
          Image
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_entries.each do |an_entry| %>
      <tr>
        <td>
          <%= an_entry.id %>
        </td>

        <td>
          <%= an_entry.mood %>
        </td>

        <td>
          <%= an_entry.weather %>
        </td>

        <td>
          <%= an_entry.body %>
        </td>

        <td>
          <%= an_entry.image %>
        </td>

        <td>
          <%= time_ago_in_words(an_entry.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_entry.updated_at) %> ago
        </td>

        <td>
          <a href="/entries/<%= an_entry.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
