<div>
  <div>
    <h1>
      Recipe #<%= @the_recipe.id %> details
    </h1>

    <div>
      <div>
        <a href="/recipes">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_recipe/<%= @the_recipe.id %>">
          Delete recipe
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_recipe.name %>
      </dd>

      <dt>
        Indgredient
      </dt>
      <dd>
        <%= @the_recipe.indgredient_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_recipe.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit recipe
    </h2>

    <form action="/modify_recipe/<%= @the_recipe.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_recipe.name %>">
      </div>

      <div>
        <label for="indgredient_id_box">
          Indgredient
        </label>

        <input type="text" id="indgredient_id_box" name="query_indgredient_id" value="<%= @the_recipe.indgredient_id %>">
      </div>

      <button>
        Update recipe
      </button>
    </form>
  </div>
</div>

<hr>
